.update-container {
    display: grid;
    grid-template-columns: auto auto 1fr;

}

.update {
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.update-text {
    font-size: calc(9px + 1vw);
    height: calc(9px + 1vw);
}

@media screen and (max-width: 700px) {
    .update {
        padding-right: 0;
    }

    .first {
        padding-left: 0;
    }
}
