.update-container {
    display: grid;
    grid-template-columns: auto auto 1fr;

}

.update {
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (max-width: 700px) {
    .update {
        align-self: center;
        padding-right: 0;
    }

    .first {
        padding-left: 0;
    }
}
