.header {
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-panel {
    /* background-color: lightskyblue; */
    background-color: #659db8;
    color: gray;
    display: flex;
    height: 60%;
    width: 100%;
    size: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.button,
.socials {
    margin: .5em;
    border-radius: 25px;
    /* outline: none; */
    border: none;

    font-size: 100%;
    width: calc(20% - 2em);
    height: 30%;

    cursor: pointer;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    width: 75vh;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.off-page {
    background-color: green;
    color: white;
}

.off-page:hover,
.far:hover,
.fab:hover {
    filter: brightness(120%)
}

.on-page {
    background-color: lightgreen;
    color: green;
}



.far,
.fab {
    /* color: #343d52; */
    margin: .2em;
    size: 100%;
}

.far {
    color: white;
}

.fa-github {
    color: #060671;
}

.fa-linkedin {
    color: #0a66c2
}