.header {
    height: 5vw;
    min-height: 12vh;
    max-height: 20vh;
    width: auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 2em;
}

.header-panel {
    background-color: #659db8;
    background-image: url("/pics/background_sunset.png");
    background-size: cover;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.header-button,
.socials {
    margin: 1em;
    border-radius: 25px;
    border: none;
    font-size: 100%;
}

button,
.header-button {
    background-color: #464545 !important;
    color: white !important;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: right;
}

ul {
    margin-block: 0em;
}

.button-container {
    padding-left: 1em;
    padding-right: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: auto;
    list-style-type: none;
}

.button-container-mobile {
    display: grid;
    grid-template-columns: auto;
}

button:hover:not([disabled]),
.fa:hover,
.fab:hover,
.header-button:hover,
.header-buttonmobile:hover {
    filter: brightness(120%)
}

button:disabled,
.disabled-button {
    background-color: white !important;
    color: #464545 !important;
    cursor: default !important;
}

.disabled-button {
    filter: brightness(100%) !important;
}

.nav-button {
    width: 90%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.button-container .nav-button {
    display: inline-block;
    width: 100%;
    justify-content: center;

}

.header-button {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 80%;
    height: 80%;
    font-size: 2vw;
}

.far,
.fab {
    margin: .2em;
    size: 100%;
}

.far {
    color: white;
}

.fa-github {
    color: #0909c7;
}

.fa-linkedin {
    color: #0a66c2
}

.dropdown-button {
    display: none;
}

.mobile {
    display: none;
}

@media screen and (max-width: 500px) {

    .header {
        height: auto !important;
        margin-bottom: 1em;
    }

    .mobile {
        display: flex;
    }

    .header-panel {
        height: 10% !important;
        justify-content: space-between;
        padding: 1em;
    }

    .dropdown-button {
        display: inline;
    }

    .dropdown-button:hover {
        cursor: pointer;
    }

    .dropdown-button {
        display: inline-block;
    }

    .button-container {
        display: none !important;
    }

    .mobile-dropdown-show {
        height: auto;
        margin: 0;
        /* position: absolute;
        top:0; */
        display: grid !important;
        grid-template-columns: auto auto;
        z-index: 10;
        justify-items: center;
        align-items: center
    }

    .header-button {
        margin-top: .2em;
        margin-bottom: .2em;
        margin-left: .8em;
        margin-right: .8em;
        width: 80%;
        font-size: calc(8px + 1.5vw);
    }

    .button-container-mobile {
        display: none;
    }

    .button-container-mobile-open {
        display: flex;
        align-items: left;
    }

    .button-container-mobile-hidden {
        display: none !important;
    }

    .extend-header {
        display: flex !important;
        height: auto !important;
        padding: 0em;
    }
}

@media screen and (max-width: 250px) {
    .socials {
        flex-direction: column;
        margin: 0em;
    }
}