.chess-container {
    height: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.left-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right-component {
    height: 100%;
}

ul {
    padding: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chess-stats {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: none;
    margin-bottom: 1em;
    margin-right: 1em;

}

img {
    background-color: transparent;
}

.mapboxgl-canvas,
.mapboxgl-map {
    width: 100%;
    aspect-ratio: 1 / .6;
    height: auto;
}

.map-container {
    width: 70%;
    height: 70%;

}

.toggle-container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.toggle-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #659db8;
    background-image: url('../../../../public/pics/background_sunset2.png');
    background-size: auto;
}

.toggle-button {
    margin: .5em;
    border-radius: 25px;
    border: none;

    font-size: 100%;
    padding: .5em;
}

.toggle-text {
    align-self: center;
    font-weight: bold;
}

.toggle-show {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.custom-tooltip {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slideshow-button:disabled {
    background-color: white;
    filter: opacity(.3);
}

@media screen and (max-width: 700px) {
    .chess-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .custom-tooltip {
        display: inline-block;
        visibility: visible;
        min-width: 15vh;
        max-width: 30vh;
        text-overflow: clip !important;
        white-space: normal;
        overflow: hidden;
    }

    .toggle-show {
        margin-bottom: 1em;
    }
}