html {
  margin:0%;
}
body {
  height: 100%;
  /* width: 100%; */
  margin: 0;

  background-color: #cfe5f9;
  display: flex;
  flex-direction: column;
}

.main-body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#main-container {
  margin: auto;
  align-content: center;
}

button, .header-button {
  cursor: pointer;
}

button:disabled, .disabled-button {
  cursor: default !important;
}

a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
}

a:visited {
  color: #0909c7;
}