html {
  margin:0%;
}
body {
  height: 100%;
  /* width: 100%; */
  margin: 0;

  background-color: #cfe5f9;
  display: flex;
  flex-direction: column;
}

#main-container {
  margin: auto;
  align-content: center;
  width:75%;
  /* margin-left: 1em;
  margin-right:1em; */
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
}

a:visited {
  color: #0909c7;
}