@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(9px + 1vw);
}

p {
  font-size: calc(12px + .3vw);
}

button {
  font-family: "Lora", serif;
}

head {
  font-family: "Lora", serif;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: calc(14px + 1.5vw);
}

h2 {
  font-size: calc(12px + 1.25vw);
}

h3 {
  font-size: calc(10px + 1vw);
}

* { font-size: 100%; }