@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(9px + 1vw);
}

p {
  font-size: calc(12px + .3vw);
}

button {
  font-family: "Lora", serif;
}

head {
  font-family: "Lora", serif;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: calc(14px + 1.5vw);
}

h2 {
  font-size: calc(12px + 1.25vw);
}

h3 {
  font-size: calc(10px + 1vw);
}

* { font-size: 100%; }

a {
  text-decoration: none;
  font-weight:500 !important;
  color: #0a66c2;
}

a:visited {
  color: #0909c7;
}