.project {
    border-style: solid;
    /* width: calc(90% - 2em); */
    background-color: #ced7e0;

    border-radius: 25px;
    padding: 1em;
    display: block;
    margin-bottom: 2em;
}   

.project:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: auto;
}

.project-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    column-gap: 2em;
}

.project-tag {
    border-radius: 25px;
    margin-right: 1em;
    padding: 5px;
    text-decoration: none;
}

a.tag-Repo {
    background-color: #0909c7;
    color: white;
}

a.tag-MDST {
    background-color: #fcf09c;
    color: #0a66c2;
}

@media screen and (max-width: 1230px) {
    .project-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 900px) {
    .project-container {
        grid-template-columns: auto;
    }

    .project:hover {
        transform: scale(1);
    }

    .project {

        width: fit-content;
    }
}